.banner
  background url(../../../imgs/home_banner.png) no-repeat bottom left
  min-height 400px
  background-color: $corporate_colors.pale_yellow

  overflow hidden

  background-size: 45%;

  position relative

  &__baseline
    font-family GraphikLight

    font-size   42px
    line-height 52px

    margin-top   90px
    margin-left  40%
    margin-right 20px

  &__dot
    position absolute

    background-color $bg-color

    border-top  1px solid $bg-color
    border-left 1px solid $bg-color

    box-sizing content-box

    bottom 0
    right  0

    width 20%

    &:before
      content     ''
      display     block
      padding-top 100%

    &:after
      content ''
      display block

      background-color: $corporate_colors.pale_yellow

      position absolute

      top    1px
      right  0
      bottom 0
      left   1px

      border-radius 100%

@media (max-width: 1080px)
  .banner__dot
    width 25%

@media (max-width: 880px)
  .banner
    min-height 0

  .banner__dot
    display none

  .banner__baseline
    min-height 200px

    margin-top 60px

    font-size   32px
    line-height 40px

@media (max-width: 520px)
  .banner__baseline
    margin-top    30px
    margin-left   20px
    margin-bottom 60px

    font-size   32px
    line-height 40px
