.footer
  color #9d9d9c
  clearfix()

  border-top 2px solid #000

  font-size 14px

  &__item
    position relative
    width 20%
    float left
    border 1px solid #000

    &:before
      content     ''
      display     block
      padding-top 100%

    &__content
      padding 20px
      display block
      position absolute

      top    0
      right  0
      bottom 0
      left   0

      background-color #3c3c3b

    &:last-child
      .footer__item__content
        border-radius 100%

  h3
    margin  0 0 10px 0
    padding 0

  ul
    list-style none

    margin  0
    padding 0

  p
    margin 0

@media (max-width: 1080px)
  .footer__item
    width 25%

@media (max-width: 880px)
  .footer__item
    width 33.33%

@media (max-width: 680px)
  .footer__item
    width 50%

@media (max-width: 520px)
  .footer__item
    width 100%
    &:before
      padding-top 0
    &__content
      position relative
      padding-bottom 36px
    &:last-child
      display none