$color-accent-1 = rgb(193, 160, 98)

$color-warm-grey = rgb(172, 166, 163)

$txt-color = #333
$bg-color  = #000


$corporate_colors = {
  // Accent colors
  accent_1:       rgb(193, 160, 98),
  accent_2:       rgb(255, 179, 17),
  accent_3:       rgb(255, 42, 0),
  accent_4:       rgb(246, 0, 19),
  accent_5:       rgb(43, 92, 166),
  accent_6:       rgb(0, 176, 185),

  beige:          rgb(193, 160, 98),
  pale_beige:     rgb(221, 206, 174),
  pale_green:     rgb(160, 215, 204),
  light_blue:     rgb(127, 204, 226),
  yellow:         rgb(255, 179, 17),
  pale_yellow:    rgb(250, 220, 140),
  pale_warm_grey: rgb(207, 200, 194),
  pale_blue:      rgb(208, 227, 244),
}